/* src/LabTest.css */
.lab-test-container {
    background-color: rgba(128, 128, 128, 0.5); /* Half-transparent gray */
    border-radius: 15px; /* Rounded edges */
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .test-input {
    display: flex;
    align-items: center; /* Align items vertically center */
    justify-content: space-between; /* Space between items */
    margin-bottom: 1rem; /* Space between inputs */
  }
  
  .test-name {
    font-size: 1.2rem; /* Larger font size for test name */
    flex: 1; /* Use flex to take available space */
  }
  
  .test-details {
    flex: 2; /* Use flex to take more space than the name */
    text-align: center; /* Center align the text */
  }
  
  .test-description,
  .test-interval {
    font-size: 0.9rem; /* Smaller font size for description and interval */
    display: block; /* Each on a new line */
  }
  
  .test-input-field {
    width: 100px; /* Fixed width for input */
    margin-left: 1rem; /* Space between input and text */
  }